header, footer {
    background-color: #383838;
    margin:5% 5% 0% 5%;
    padding:5% 5% 1% 5%;
    text-align: center;
    color: white;
    border-style: none none solid none;
    border-color: #066163;
    /* border-bottom: #066163; */
    border-width: 40px;
}



body {
    background-color: #F2F2F2;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:5% 5% 0% 5%;
    padding:5% 5% 1% 5%;
}

button {
    background-color: #F2F2F2;
    color : black;
    padding: 14px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius:20px;
}

section {
    background-color: white;
    margin:0% 5% 0% 5%;
    padding:5% 5% 1% 5%;
}

button:hover {
    background-color: #CDBE78;
}

.main {

    text-align:center;
    padding: 5% 10% 10% 10%;
    margin:0% 5% 5% 5%;
    
    background-color: white;

}



.about-author {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap:3%;
    row-gap:3%;
}

h1 {
    color:white;
}

h2 {
    color:#383838;
}

ul {
    list-style-type:none;
}

img {
    width:200px;
}


